---
version: "3.8"

networks:
  {{ proxy_network_name }}:
    name: {{ proxy_network_name }}

services:
  3x-ui:
    image: ghcr.io/mhsanaei/3x-ui:{{ proxy_ui_version }}
    container_name: 3x-ui
    volumes:
      - {{ containers_basedir }}/ui/db/:/etc/x-ui/
    environment:
      XRAY_VMESS_AEAD_FORCED: "false"
    tty: true
    ports:
      - 443:443
      - 2053:2053
    networks:
      {{ proxy_network_name }}:
    restart: unless-stopped
    labels:
      caddy: {{ proxy_domain_name }}
      caddy.reverse_proxy: {% raw %}"{{upstreams http 2053}}"{% endraw %}

  caddy:
    image: lucaslorentz/caddy-docker-proxy:{{ proxy_caddy_version }}
    container_name: caddy
    ports:
      - 80:80
      - 2020:443
    environment:
      - CADDY_INGRESS_NETWORKS={{ proxy_network_name }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ containers_basedir }}/caddy/data:/data
    networks:
      {{ proxy_network_name }}:
    restart: unless-stopped
