#!/usr/sbin/nft -f

add table netdev filter
add table inet filter
delete table netdev filter
delete table inet filter

table netdev filter {
        chain ingress {
                type filter hook ingress device "{{ ansible_default_ipv4.interface }}" priority -5; policy accept;
                tcp dport 2020 ip saddr { {{ allow_panel_ip }} } counter accept; # allow panel acces for ALLOW_IP
                tcp dport 2053 ip saddr { {{ allow_panel_ip }} } counter accept; # allow direct panel access for ALLOW_IP
                tcp dport 2020 counter drop; # drop panel acces for everyone else
                tcp dport 2053 counter drop; # drop direct panel acces for everyone else
        }
}
table inet filter {
        chain input {
                type filter hook input priority filter +5; policy drop; #drop everything else on input;
                meta l4proto icmp accept;
                ct state established,related accept;
                tcp dport 22 accept;
                tcp dport 53 accept;
                udp dport 53 accept;
                iifname "br-*" tcp dport 2020 accept; # allow panel acces from self
        }
}
